Source: semplice-openbox-default-settings
Section: x11
Priority: optional
Maintainer: Eugenio Paolantonio (g7) <me@medesimo.eu>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.2
Homepage: http://launchpad.net/semplice

Package: semplice-openbox-default-settings
Architecture: all
Depends: bash
Recommends: openbox, volti, notify-osd, pcmanfm, cairo-compmgr, libnotify-bin, semplice-utilities, semplice-artwork, nitrogen, semplice-artwork, conky, tint2, python-gmenu, gnome-menus, gsimplecal
Description: Semplice Openbox System Default Settings
 This package contains the default settings for the
 Semplice Openbox System.
 .
 This package not touch current user's settings, and
 is valid only for new users.

Package: semplice-default-settings
Architecture: all
Depends: semplice-openbox-default-settings
Description: Dummy transitional package to semplice-openbox-default-settings
 This package is used to make a smooth transition to the new
 default settings package, semplice-openbox-default-settings.
 .
 Feel free to remove it.
