Source: semplice-openbox-default-settings
Section: x11
Priority: optional
Maintainer: Eugenio Paolantonio (g7) <me@medesimo.eu>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.2
Homepage: http://semplice-linux.org

Package: semplice-openbox-default-settings
Architecture: all
Pre-Depends: bash, lightdm, lightdm-gtk-greeter
Depends: python, python-gi, gir1.2-gtk-3.0, python-quickstart
Description: Semplice Openbox System Default Settings
 This package contains the default settings for the
 Semplice Openbox System.
 .
 This package not touch current user's settings, and
 is valid only for new users.
